@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './pagination.css';
@import './sidebar.scss';
@import './ImageStyel.css';
body{
	background: #eeeeee !important;
}

input:checked + svg {
	display: block;
}